.Fbtn {
	min-width: 150px;
	margin: 15px auto 0;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 14px;
	color: #fff;
	background-color: #ea736d;
	padding: 14px 20px;
	border-radius: 20px;
}

.Fbtn:hover {
	background-color: #ee8c87;
}

.Fbtn:disabled {
	background-color: #a7524e;
	cursor: not-allowed;
}
