.orderLayout {
	display: grid;
	grid-template-rows: 104px 1fr;
	background-color: #1f1d2b;
	border-radius: 8px;
	padding: 24px 0;
	color: #fff;
	font-size: 20px;
	font-weight: 600;
	line-height: 1.4;
	overflow: hidden;
	.heading__wrapper {
		padding: 0 10px 16px;
		border-bottom: 1px solid #393c49;
		.heading {
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-bottom: 16px;
		}
		.columns {
			display: grid;
			grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
			gap: 32px;
			justify-content: space-between;
			font-size: 14px;
			.payment,
			.status {
				justify-self: center;
			}
		}
	}
	.order__wrapper {
		margin-top: 14px;
		overflow: scroll;
	}
	.order__wrapper::-webkit-scrollbar {
		width: 0;
		height: 0;
	}
}
