.profile-container {
	height: 100%;
	display: grid;
	gap: 24px;
	grid-template-columns: 6fr 4fr;
	grid-template-rows: 5fr 6fr;
	grid-template-areas:
		'up mo'
		'or or';
	color: white;
	overflow: hidden;
}
.user-profile {
	grid-area: up;
	padding: 24px;
	background-color: #1f1d2b;
	border-radius: 8px;
}

.user-data {
	display: flex;
	gap: 16px;
	align-items: center;
	margin-bottom: 16px;
}

.user-data__avatar {
	width: 74px;
	height: 74px;
}

.user-data__avatar img {
	width: 100%;
	height: 100%;
}

.user-data__info {
}

.user-data__name {
	color: #fff;
	font-size: 16px;
	font-weight: 600;
	line-height: 1.4;
	margin-bottom: 10px;
}

.user-data__creation {
	color: #abbbc2;
	font-size: 14px;
	font-weight: 600;
	line-height: 1.4;
}

.user-data__form {
	display: flex;
	flex-direction: column;
}

.user-data__label {
	color: #fff;
	font-size: 14px;
	font-weight: 500;
	line-height: 1.3;
	margin-bottom: 8px;
}

.user-data__input {
	padding: 14px;
	border-radius: 8px;
	border: 1px solid #393c49;
	background: #2d303e;
	color: #e0e6e9;
	margin-bottom: 16px;
}
.user-data__input:last-child {
	margin-bottom: 0;
}

.not-valid {
	border: 1px solid red;
}
.user-data__save {
	margin-top: 18px;
	font-size: 16px;
	font-weight: 600;
	padding: 14px;
	background-color: #50d1aa;
	border-radius: 8px;
	color: white;
}

.user-data__save:disabled {
	background-color: rgba(107, 226, 190, 0.24);
}

.most-order {
	grid-area: mo;
	padding: 24px;
	background-color: #1f1d2b;
	border-radius: 8px;
}

.most-order__title {
	margin-top: 10px;
	color: #fff;
	font-size: 20px;
	font-weight: 600;
	line-height: 1.4;
	padding-bottom: 20px;
	border-bottom: 2px solid #393c49;
}

.most-order__top{
	display: flex;
	margin-top: 20px;
	flex-direction: column;
	gap: 24px;
}

.top__item {
	display: flex;
	gap: 16px;
}

.top__image-dish {
	width: 60px;
	height: 60px;
}

.top__image-dish img {
	width: 100%;
	height: 100%;
}

.top__name-dish{
	color:#E0E6E9;
	font-size: 16px;
	font-weight: 500;
	line-height: 1.3;
	margin-bottom: 4px;
}

.top__order-val{
	color: #ABBBC2;
	font-size: 14px;
	line-height: 1.4;
}

.order-report {
	grid-area: or;
	background-color: #1f1d2b;
	border-radius: 8px;
	overflow: scroll;
}

.order-report::-webkit-scrollbar {
	width: 0;
	height: 0;
}

.order-report__header {
	padding: 24px 24px 16px;
	border-bottom: 2px solid #393c49;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 24px;
	background-color: inherit;
	position: sticky;
	top: 0;
}

.order-report__title {
	font-size: 20px;
	font-weight: 600;
	line-height: 1.4;
	grid-column: 1/5;
}
.order-report__heading {
	grid-column: 1/5;
	display: grid;
	grid-template-columns: 2fr 3fr 2fr 1fr;
}

.order-report__row-wrapper {
	display: grid;
	gap: 10px;
	padding: 16px 24px 0;
}
