.formContainer{
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.main-form{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  background-color: #1f1d2b;
  overflow: hidden;
  width: 800px;
}
.form-reverse{
  flex-direction: row-reverse;
}

.blockGreeting{
  width: 45%;
  height: 100%;
  background-color: #ea746d;
  z-index: 10;
  padding: 24px;
  overflow: hidden;
}

.blockForms{
  width: 55%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px;
  height: 100%;
}