.heading {
	display: inline-block;
}

.header {
	color: #fff;
	font-size: 28px;
	font-weight: 600;
	line-height: 1.4;
	margin-bottom: 4px;
}

.date {
	color: #e0e6e9;
	font-size: 16px;
	line-height: 140%;
}
