.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 4px;
}

.heading {
	color: #fff;
	font-size: 28px;
	font-weight: 600;
	line-height: 1.4;
	margin-bottom: 4px;
}

.date {
	color: #e0e6e9;
	font-size: 16px;
	line-height: 140%;
}

.border {
	/*margin: 17px 0;*/
	width: 100%;
	background-color: #393c49;
	height: 2px;
}
