/*.layout {
 height: 100%;
 display: grid;
 grid-template-columns: 646px 372px;
 column-gap: 24px;
 padding: 24px;

 .left{
 display: flex;
 flex-direction: column;
 }

.stat
	display: grid
	grid-template-columns: repeat(3, 1fr)
	column-gap: 24px
	margin-bottom: 24px
}*/

.dashboard {
	width: 100%;
	padding: 24px;
	display: flex;
	flex-direction: column;
	row-gap: 24px;
	flex: 0 0;
	overflow: hidden;

	.main {
		flex: 1 0;
		overflow: hidden;
		display: flex;
		gap: 24px;

		.left{
			flex-grow: 1;
			display: flex;
			flex-direction: column;
			.stat {
				display: flex;
				gap: 24px;
				margin-bottom: 24px;
			}
		}
		.right{
			display: flex;
			flex-direction: column;
			gap: 24px;
			flex-shrink: 0;
		}
	}
	}
