.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 24px;
}

.heading {
	color: #fff;
	font-size: 20px;
	font-weight: 600;
	line-height: 1.4;
}

.border {
	margin-top: 20px;
	background-color: #393c49;
	height: 2px;
	margin-bottom: 20px;
}
