.dish__item {
  width: 192px;
  height: 309px;
  display: flex;
  flex-direction: column;
  padding: 0 12px;
  position: relative;
  z-index: 1;
}

.dish__wrapper{
 display: flex;
 flex-direction: column;
 z-index: 3;
}


.dish__info{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #fff;
  font-size: 14px;
  padding: 0 12px;
}

.dish__image{
  width: 132px;
  margin-bottom: 16px;
}
.dish__image img {
  width: 100%;
}

.dish__name{
  font-weight: 500;
  line-height: 1.3;
  margin-bottom: 8px;
}

.dish__price {
  line-height: 1.4;
  margin-bottom: 4px;
}

.dish__available{
  color: #ABBBC2;
  line-height: 1.4;
  margin-bottom: 16px;
}

.button__order{
  font-size: 14px;
  font-weight: bold;
  line-height: 1.4;
  padding: 14px;
  background-color: #EA736D;
  color: #fafafa;
  border-radius: 8px;
  transition: box-shadow 0.15s ease-in-out;
  
}

.button__order:hover{
  box-shadow: 0px 8px 24px 0px rgba(146, 136, 224, 0.30);
}

.dish__bg{
  left: 0;
  bottom: 0;
  width: 100%;
  height: calc(100% - 36px);
  border-radius: 16px;
  background-color: #1F1D2B;
  position: absolute;

}