.basket {
	width: 409px;
	height: 100vh;
	padding: 24px;
	background-color: #1F1D2B;
	display: flex;
	flex-direction: column;


	.number_order {
		font-weight: 600;
		font-size: 20px;
		color: #FFFFFF;
		margin-bottom: 24px;
	}

	.content {
		flex-grow: 1;

		.dishes {
			flex-grow: 1;
		}

		.quantity {
			text-align: center;
			min-width: 48px;
			flex-grow: 0;
		}

		.price {
			text-align: center;
			min-width: 48px;
		}

		.header {
			display: flex;
			font-weight: 600;
			font-size: 16px;
			line-height: 1.4;
			color: #FFFFFF;
			gap: 8px;
			padding-bottom: 24px;
			border-bottom: 1px solid #393C49;
		}

		.main {
			padding: 24px 0;
			display: flex;
			flex-direction: column;
			gap: 24px;
			height: 454px;
			overflow: scroll;
		}

		.main::-webkit-scrollbar {
			width: 0;
			height: 0;
		}
	}
}


.item {
	.top {
		display: flex;
		gap: 8px;
		margin-bottom: 10px;
		align-items: center;

		.dishes {
			display: flex;
			gap: 8px;

			.image {
				width: 40px;
				height: 40px;
			}

			.info {
				font-weight: 500;
				flex-grow: 1;

				.name {
					font-size: 14px;
					line-height: 1.3;
					color: #3B5162;
				}

				.price_one {
					font-size: 12px;
					line-height: 1.4;
					color: #889898;

					s {
						margin-right: 5px;
					}
				}
			}
		}

		.count {
			input {
				text-align: center;
				padding: 0 14px;
				width: 48px;
				font-size: 16px;
				line-height: 46px;
				color: #889898;
				background: #2D303E;
				border: 1px solid #393C49;
				border-radius: 8px;
			}
		}

		.price_all {
			text-align: center;
			width: 48px;
			line-height: 48px;
			font-weight: 500;
			font-size: 16px;
			color: #3B5162;
		}
	}

	.bot {
		display: flex;
		gap: 8px;


		input {
			flex-grow: 1;
			line-height: 46px;
			padding: 0 14px;
			background: #2D303E;
			border: 1px solid #393C49;
			border-radius: 8px;
			color: #E0E6E9;

			::placeholder {
				font-size: 14px;
				color: #889898;
			}
		}

		button {
			width: 48px;
			height: 48px;
			border: 1px solid #EA736D;
			border-radius: 8px;

			.btn_icon {
				stroke: #EA736D;
			}
		}

		button:hover {
			background-color: #EA736D;

			.btn_icon {
				stroke: #fff;
			}
		}
	}
}

.total {
	padding-top: 24px;
	border-top: 1px solid #393C49;

	.discount {
		margin-bottom: 16px;
	}

	.sub_total {
		margin-bottom: 42px;
	}

	.discount,
	.sub_total {
		display: flex;
		justify-content: space-between;

		.names {
			font-size: 14px;
			line-height: 1;
			color: #ABBBC2;
		}

		.count {
			font-weight: 500;
			font-size: 16px;
			line-height: 1;
			color: #FFFFFF;
		}
	}

	.buttons {

		display: flex;
		gap: 8px;

		.button {
			flex: 50%;
			font-weight: 600;
			font-size: 14px;
			line-height: 46px;
			color: #EA736D;
			border: 1px solid #EA736D;
			border-radius: 8px;
			transition: color 0.25s ease-in-out;
			transition: background-color 0.25s ease-in-out;

			&:hover {
				color: #fff;
				background-color: #EA736D;
			}
		}
	}
}