.asidebar-container {
	background-color: #1F1D2B;
	width: 104px;
	height: 834px;
	border-radius: 16px;
	display: flex;
	padding: 24px 0;
	flex-direction: column;
	align-items: center;
	gap: 26px;
}

.asidebar__logo {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 56px;
	height: 56px;
	position: relative;
}

.asidebar__logo-bg {
	min-width: 100%;
	min-height: 100%;
	background: #EB966A;
	opacity: 0.26;
	border-radius: 12px;
}

.asidebar__logo img {
	position: absolute;
}

.nav__list {
	display: flex;
	flex-direction: column;
	color: #fff;
}

.nav__item {
	width: 92px;
	height: 80px;
	padding: 13px 0 11px 18px;
	position: relative;
	z-index: 2;
}

.nav__item a {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 56px;
	height: 56px;
}

.nav__icon {
	fill: #EA736D;
	transition: fill 0.5s ease;
}

.nav__icon-active {
	fill: #fff;
	transition: fill 0.5s ease;
}


.selected__item {
	width: 100%;
	height: 100%;
	background-color: #252836;
	position: absolute;
	top: 0;
	left: 6px;
	border-radius: 12px 0 0 12px;
	z-index: -1;
}

.selected__item::after {
	position: absolute;
	content: '';
	top: 13px;
	left: 12px;
	width: 56px;
	height: 56px;
	background-color: #EA736D;
	border-radius: 8px;
}