.notifications {
	display: flex;
	flex-direction: column;
	padding: 24px;
	height: 100%;
}

.order__wrapper {
	flex-grow: 1;
	overflow: scroll;
	background-color: #1F1D2B;
  border-radius: 8px;
	padding-top: 24px;
}

.order__wrapper::-webkit-scrollbar {
	width: 0;
	height: 0;
}
