.notifications {
	display: grid;
	grid-template-rows: 114px 672px;
	padding: 24px;
	height: 100%;
	overflow: hidden;
}
.open {
	position: absolute;
	top: 50%;
	left: 50%;
	background-color: red;
	border-radius: 10;
	width: 200px;
	height: 200px;
	z-index: 10;
}
.close{
	background-color: #fff;
	border-radius: 20px;
	width: 100px;
	height: 100px;
}

