.sidebar {
	display: flex;
	flex-direction: column;
	padding: 24px;
	background-color: #1f1d2b;
	border-radius: 16px;
	gap: 39px;
	.logo_bg {
		border-radius: 12px;
		padding: 8px;
		background-color: rgba(235, 150, 106, 0.26);
	}
}

.nav {
	flex-grow: 1;
}
.list {
	display: flex;
	height: 100%;
	flex-direction: column;
	gap: 24px;
}
.list li:last-child {
	margin-top: auto;
	margin-bottom: 15px;
}
