.sidebar {
	padding: 24px;
	background-color: #1f1d2b;
	max-height: 100%;
	border-radius: 16px;
	.logo_bg {
		border-radius: 12px;
		padding: 8px;
		background-color: rgba(235, 150, 106, 0.26);
		margin-bottom: 39px;
	}
	.list {
		height: 100%;
		display: flex;
		flex-direction: column;
	}
}
