.sidebar {
	padding: 24px;
	background-color: #1f1d2b;
	width: 104px;
	height: 100%;
	border-radius: 16px;
	.logo_bg {
		border-radius: 12px;
		padding: 8px;
		background-color: rgba(235, 150, 106, 0.26);
		margin-bottom: 39px;
	}
	.list {
		display: flex;
		flex-direction: column;
		gap: 23px;
	}
}
