.dishes__container {
    display: flex;
    overflow: hidden;
}
.sort__container {
	color: #fff;
	font-size: 20px;
	font-weight: 600;
	line-height: 1.4;
	display: flex;
	justify-content: space-between;
	align-items: center;
}