.order-report__row {
	display: grid;
	grid-template-columns: 2fr 3fr 2fr 1fr;
	font-size: 14px;
	line-height: 1.4;
	color: #e0e6e9;
	align-items: center;
	padding: 10px 0;
}

.column__customer {
	font-size: 20px;
	font-weight: 600;
	color: white;
}

.status-bg {
	padding: 4px 12px;
	border-radius: 30px;
	text-align: center;
	font-weight: 500;
	line-height: 1;
}

.bg-orange {
	background: rgba(235, 150, 106, 0.24);
	color: #ffb572;
}

.bg-green {
	background: rgba(107, 226, 190, 0.24);
	color: #50d1aa;
}
