.App {
	padding: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: linear-gradient(240.64deg, #4f36da 0%, #ea736d 93.75%);
	height: 100vh;
}

.container {
	width: 1194px;
	height: 834px;
	margin: 0 auto;
	background-color: #fff;
	border-radius: 16px;
	display: flex;
	background: #252836;
	position: relative;
	overflow: hidden;
}

.children {
	flex-grow: 1;
}

.title {
	font-weight: 600;
	font-size: 28px;
	line-height: 1.4;
	color: #ffffff;
}
