.home {
	min-width: 740px;
	height: 100%;
	display: flex;
	justify-content: space-between;
}

.main {
	flex: 1 1;
	padding: 24px;
}

.header__wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 24px;
}

.category__wrapper {
	margin-bottom: 24px;
}

.sort__wrapper {
	color: #fff;
	font-size: 20px;
	font-weight: 600;
	line-height: 1.4;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 24px;
}

.dishes__wrapper {
	height: 593px;
	overflow: scroll;
}
.dishes__wrapper::-webkit-scrollbar {
	width: 0;
	height: 0;
}

.basket__wrapper {
}
