.home {
	height: 100%;
	display: flex;
}

.main {
	flex: 1 1;
	padding: 24px 104px 24px 24px;
}

.header__wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 24px;
}

.category__wrapper {
	margin-bottom: 24px;
}

.sort__wrapper {
	color: #fff;
	font-size: 20px;
	font-weight: 600;
	line-height: 1.4;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 24px;
}

.dishes__wrapper {
	height: 593px;
	overflow: scroll;
}
.dishes__wrapper::-webkit-scrollbar {
	width: 0;
	height: 0;
}

.order__wrapper {
	position: absolute;
	width: 80px;
	height: 100%;
	top: 0;
	right: 0;
	background-color: #1F1D2B;
	border-radius: 8px;
	padding: 24px 14px;
}

.basket {
	height: 100%;
	width: 416px;
	background-color: #1F1D2B;
	border-radius: 8px;
	padding: 24px 14px;
	z-index: 2;
}
