.summary {
	display: flex;
	flex-direction: column;
	width: 100%;
	gap: 8px;
	padding: 16px;
	border-radius: 8px;
	background-color: #1f1d2b;

	.header {
		display: flex;
		align-items: center;
		gap: 12px;
		.icon {
			display: inline-block;
			padding: 7px;
			border-radius: 8px;
			background-color: #252836;
		}
		.status {
			display: flex;
			gap: 6px;
			font-size: 12px;
			font-weight: 500;
			line-height: 1.4;
			.arrow {
				display: flex;
				justify-content: center;
				align-items: center;
				width: 18px;
				height: 18px;
				padding: 2px;
				border-radius: 50%;
			}
		}

		.status_up {
			color: #50d1aa;
			.arrow {
				background: rgba(136, 224, 145, 0.24);
				path {
					fill: #50d1aa;
				}
			}
		}

		.status_down {
			color: #ff7ca3;
			.arrow {
				transform: rotate(180deg);
				background: rgba(255, 100, 113, 0.24);
				path {
					fill: #ff7ca3;
				}
			}
		}
	}

	.content {
		.heading {
			color: #fff;
			font-size: 28px;
			font-weight: 600;
			line-height: 1.4;
			margin-bottom: 8px;
		}
		.body {
			color: #abbbc2;
			font-size: 14px;
			font-weight: 500;
			line-height: 1.3;
		}
	}
}
