.input {
	padding: 14px;
	background-color: #1f1d2b;
	color: #fff;
	border: 1px solid #393c49;
	border-radius: 8px;
	&::placeholder {
		color: #bbb;
	}
}

.empty {
	height: 17px;
}

.alert {
	font-size: 14px;
	color: #ea736d;
	padding-left: 15px;
}

.required {
	border: 1px solid #ea736d;
}
